<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulario de Cliente</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100 flex items-center justify-center min-h-screen">
    <!-- Modal -->

    <!-- Botón para abrir el modal -->
    <button
      class="bg-blue-500 text-white px-4 py-2 rounded-md"
      onclick="document.getElementById('modal').showModal()"
      >Agregar Cliente</button
    >
  </body>
</html>
