
<table class="min-w-full mt-4 table-auto border-collapse border border-gray-300  dark:border-gray-700 w-full rounded-lg">
    <thead class="bg-gray-200 dark:bg-gray-800">
        <tr>
            <th class="px-4 border border-gray-300 dark:border-gray-700">N°</th>
            <th class="px-4 border border-gray-300 dark:border-gray-700">Id Caja</th>
            <th class="px-4 border border-gray-300 dark:border-gray-700">Tipo</th>
            <th class="px-4 border border-gray-300 dark:border-gray-700">Fecha</th>
            <th class="px-4 border border-gray-300 dark:border-gray-700">Hora</th>
            <th class="px-4 border border-gray-300 dark:border-gray-700">Valor/Monto</th>
            <th class="px-4 border border-gray-300 dark:border-gray-700">Detalles</th>
            <th class="px-4 border border-gray-300 dark:border-gray-700">Saldo Anterior</th>
            <th class="px-4 border border-gray-300 dark:border-gray-700">Saldo Actual</th>
        </tr>
    </thead>
    <tbody class="bg-white dark:bg-gray-900">
        <slot>
    </tbody>
</table>