<table
  class="min-w-full mt-4 table-auto border-collapse border border-gray-300 dark:border-gray-700 w-full rounded-lg"
>
  <thead class="bg-gray-200 dark:bg-gray-800">
    <tr>
      <th
        class="px-4 border border-gray-300 dark:border-gray-700 hidden acciones"
      >
      </th>
      <th class="px-4 border border-gray-300 dark:border-gray-700">N</th>
      <th class="px-4 border border-gray-300 dark:border-gray-700"
        >Nombre servicio</th
      >
      <th class="px-4 border border-gray-300 dark:border-gray-700"
      >Precio Venta 1</th
    >
    <th class="px-4 border border-gray-300 dark:border-gray-700"
    >Precio Venta 2</th
  >
  <th class="px-4 border border-gray-300 dark:border-gray-700"
  >Precio Venta 3</th
>
    </tr>
  </thead>
  <tbody class="bg-white dark:bg-gray-900">
    <slot />
  </tbody>
</table>
