
<table class="min-w-full mt-4 table-auto border-collapse border border-gray-300  dark:border-gray-700 w-full rounded-lg">
    <thead class="bg-gray-200 dark:bg-gray-800">
        <tr>
            <th class="px-4 border border-gray-300 dark:border-gray-700">Acciones</th>
            <th class="px-4 border border-gray-300 dark:border-gray-700">N</th>
            <th class="px-4 border border-gray-300 dark:border-gray-700">Documento Fiscal</th>
            <th class="px-4 border border-gray-300 dark:border-gray-700">Correlativo Documento Fiscal</th>
            <th class="px-4 border border-gray-300 dark:border-gray-700">Fecha Venta</th>
            <th class="px-4 border border-gray-300 dark:border-gray-700">Cliente</th>
            <th class="px-4 border border-gray-300 dark:border-gray-700">Condicion de Venta</th>
            <th class="px-4 border border-gray-300 dark:border-gray-700">Metodo de pago</th>
            <th class="px-4 border border-gray-300 dark:border-gray-700">Estado</th>
            <th class="px-4 border border-gray-300 dark:border-gray-700">Sumas</th>
            <th class="px-4 border border-gray-300 dark:border-gray-700">IVA</th>
            <th class="px-4 border border-gray-300 dark:border-gray-700">Total</th>
            <th class="px-4 border border-gray-300 dark:border-gray-700">Vendedor</th>
        </tr>
    </thead>
    <tbody class="bg-white dark:bg-gray-900">
        <slot>
    </tbody>
</table>