---
export const prerender = false;
const data = Astro.locals;
import Layout from "@Layouts/layout.astro";
import Sidebar from "@components/Sidebar.astro";
import Card from "@components/menu/Card.astro";
import { verify, userinfo } from "@Lib/auth";

if ((await verify(data.token?.value)) == false) {
  return new Response(null, {
    status: 302,
    headers: {
      Location: "/",
    },
  });
}
const token = data.token?.value;
const res = await userinfo(token);
const user = res[0];
---

<Layout title="Panel de Control">
  <div
    class="flex flex-col md:flex-row bg-gray-100 h-screen dark:bg-gray-800 dark:text-white"
  >
    <!-- Sidebar -->
    <Sidebar tipo={user.tipo_perfil}>
      <div class="flex-1 p-4 md:p-6 dark:bg-gray-800">
        <h1 class="text-3xl font-bold mb-6 text-center">Inventario y Tablas de datos</h1>

        <div class="flex items-center justify-end mb-6">
          <div class="flex items-center space-x-2">
            <div
              class="w-12 h-12 rounded-full overflow-hidden border-2 border-gray-300 dark:border-gray-500"
            >
              <img
                src={user.imagen ||
                  "https://avatars.githubusercontent.com/u/178928214?v=4"}
                alt="Foto de perfil"
                class="w-full h-full object-cover"
              />
            </div>
            <div class="text-right">
              <h1 class="text-xl font-bold">Hola, {user.nombre}</h1>
              <p class="text-gray-600 dark:text-gray-400 text-sm">
                {
                  user.tipo_perfil == 1
                    ? "Administrador"
                    : user.tipo_perfil == 2
                      ? "Vendedor"
                      : "Usuario"
                }
              </p>
            </div>
          </div>
        </div>
        <!-- Contenido de tarjetas -->
        <div class="grid grid-cols-1 gap-5 md:grid-cols-5 mx-auto">
              <div class="hover:scale-105 transition cursor-pointer" onclick="window.location.href='/productos';">
                <Card title="" description="">
                  <div class="flex flex-col items-center">
                    <i class="fa-solid fa-box-open text-6xl mb-2"></i>
                    <p class="text-xl dark:text-white font-semibold text-slate-900">
                      Productos
                    </p>
                  </div>
                </Card>
              </div>
            <div class="hover:scale-105 transition cursor-pointer" onclick="window.location.href='/facturas';">
              <Card title="" description="">
                <div class="flex flex-col items-center">
                  <i class="fa-solid fa-cash-register text-6xl mb-2"></i>
                  <p class="text-xl dark:text-white font-semibold text-slate-900">
                    Cajas
                  </p>
                </div>
              </Card>
            </div>
            <div class="hover:scale-105 transition cursor-pointer" onclick="window.location.href='/reporte';">
              <Card title="" description="">
                <div class="flex flex-col items-center">
                  <i class="fa-solid fa-bookmark text-6xl mb-2"></i>
                  <p class="text-xl dark:text-white font-semibold text-slate-900">
                    Categorias
                  </p>
                </div>
              </Card>
            </div>
            <div class="hover:scale-105 transition cursor-pointer" onclick="window.location.href='/movimientos_caja';">
              <Card title="" description="">
                <div class="flex flex-col items-center">
                  <i class="fa-solid fa-address-card text-6xl mb-2"></i>
                  <p class="text-xl dark:text-white font-semibold text-slate-900">
                    Documentos Fiscales
                  </p>
                </div>
              </Card>
            </div>
            <div class="hover:scale-105 transition cursor-pointer" onclick="window.location.href='/movimientos';">
                <Card title="" description="">
                  <div class="flex flex-col items-center">
                    <i class="fa-solid fa-trademark text-6xl mb-2"></i>
                    <p class="text-xl dark:text-white font-semibold text-slate-900">
                      Marcas
                    </p>
                  </div>
                </Card>
              </div>
              <div class="hover:scale-105 transition cursor-pointer" onclick="window.location.href='/movimientos';">
                <Card title="" description="">
                  <div class="flex flex-col items-center">
                    <i class="fa-solid fa-wine-bottle text-6xl mb-2"></i>
                    <p class="text-xl dark:text-white font-semibold text-slate-900">
                      Presentaciones
                    </p>
                  </div>
                </Card>
              </div>
              <div class="hover:scale-105 transition cursor-pointer" onclick="window.location.href='/movimientos';">
                <Card title="" description="">
                  <div class="flex flex-col items-center">
                    <i class="fa-solid fa-list-check text-6xl mb-2"></i>
                    <p class="text-xl dark:text-white font-semibold text-slate-900">
                      Servicios
                    </p>
                  </div>
                </Card>
              </div>
              <div class="hover:scale-105 transition cursor-pointer" onclick="window.location.href='/movimientos';">
                <Card title="" description="">
                  <div class="flex flex-col items-center">
                    <i class="fa-solid fa-map-location-dot text-6xl mb-2"></i>
                    <p class="text-xl dark:text-white font-semibold text-slate-900">
                      Ubicaciones Fisicas
                    </p>
                  </div>
                </Card>
              </div>
              <div class="hover:scale-105 transition cursor-pointer" onclick="window.location.href='/movimientos';">
                <Card title="" description="">
                  <div class="flex flex-col items-center">
                    <i class="fa-solid fa-ruler text-6xl mb-2"></i>
                    <p class="text-xl dark:text-white font-semibold text-slate-900">
                      Unidades de medida
                    </p>
                  </div>
                </Card>
              </div>
              <div class="hover:scale-105 transition cursor-pointer" onclick="window.location.href='/movimientos';">
                <Card title="" description="">
                  <div class="flex flex-col items-center">
                    <i class="fa-solid fa-credit-card text-6xl mb-2"></i>
                    <p class="text-xl dark:text-white font-semibold text-slate-900">
                     Metodos de pago
                    </p>
                  </div>
                </Card>
              </div>
          </div>
          

      <!-- Main Content -->
    </Sidebar>
  </div>
</Layout>
