---
export const prerender = false;
const data = Astro.locals;
import { verify, userinfo } from "@Lib/auth";
import Layout from "@Layouts/layout.astro";
import Sidebar from "@components/Sidebar.astro";
import Card from "@components/menu/Card.astro";
import Tabla from "@components/movimientos_productos/Tabla.astro";
import Tabla2 from "@components/movimientos_caja/Tabla.astro"
import Modal from "@components/dialog.astro";
import Alertas from "@components/alertas.astro";

if ((await verify(data.token?.value)) == false) {
  return new Response(null, {
    status: 302,
    headers: {
      Location: "/",
    },
  });
}

const token = data.token?.value;

let res;
try {
  res = await userinfo(token);
} catch (error) {
  console.error("Error al obtener la información del usuario:", error);
  return new Response(null, {
    status: 500,
    statusText: "Internal Server Error",
  });
}

const user = res;

const tipoClienteMap = {
  1: "Natural",
  2: "Jurídico",
  // Agrega más tipos según sea necesario
};
---

<style>
  @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #6c757d;
    border-radius: 4px;
    border: 2px solid transparent;
    background-clip: padding-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #495057;
  }

  .scrollbar-custom {
    scrollbar-width: thin;
    scrollbar-color: #6c757d transparent;
  }
</style>
<Layout title="Panel de Control">
  <!-- height: max-content; -->
  <div
    class="flex flex-col md:flex-row bg-gray-100 dark:bg-gray-800 dark:text-white h-full"
  >
    <!-- Sidebar -->
    <br /><br />
    <Sidebar tipo={user.tipo_perfil}>
      <div class="flex-1 p-4 md:p-6 dark:bg-gray-800">
        <h1 class="text-3xl font-bold mb-6">
            <i class="fa-solid fa-right-left"></i> Movimientos
        </h1>

        <div class="flex items-center justify-end mb-6">
          <div class="flex items-center space-x-2">
            <div
              class="w-12 h-12 rounded-full overflow-hidden border-2 border-gray-300 dark:border-gray-500"
            >
              <img
                src={user.imagen ||
                  "https://avatars.githubusercontent.com/u/178928214?v=4"}
                alt="Foto de perfil"
                class="w-full h-full object-cover"
              />
            </div>
            <div class="text-right">
              <h1 class="text-xl font-bold">Hola, {user.nombre}</h1>
              <p class="text-gray-600 dark:text-gray-400 text-sm">
                {
                  user.tipo_perfil == 1
                    ? "Administrador"
                    : user.tipo_perfil == 2
                      ? "Vendedor"
                      : "Usuario"
                }
              </p>
            </div>
          </div>
        </div>
        <!-- Contenido de tarjetas -->
        <div class="grid grid-cols-1 gap-4 md:grid-cols-3">
          <Alertas />
          <Card title="Herramientas" description="Detallar datos de movimientos">
            <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-2">
              <div class="flex justify-center">
                <div
                  class="w-14 h-14 sm:w-16 sm:h-16 lg:w-20 lg:h-20 dark:bg-amber-500 bg-orange-500 rounded-xl flex flex-col justify-center items-center text-gray-200 hover:scale-105 transition-transform duration-300 cursor-pointer"
                  onclick="document.getElementById('Detailmodal').showModal()"
                >
                  <i class="fa-solid fa-chart-pie text-xl md:text-3xl"></i>
                  <span class="text-xs md:text-sm font-bold">Detalles</span>
                </div>
              </div>
            </div>
          </Card>

          <Card title="Total de movimientos" description="El ultimo mes"
            ><i class="fa-solid fa-file-zipper"></i> 100</Card
          >
          <Card title="Movimientos Recientes" description="Últimas 24 horas">
            <i class="fa-solid fa-clipboard-list"></i> 5 
        </Card>
        
        </div>

        <!-- Tabla de órdenes recientes -->
        <div
          class="mt-6 bg-white p-6 rounded-lg shadow-md overflow-x-auto dark:bg-gray-700"
        >
          <h2 class="text-xl font-semibold">Movimientos Productos</h2>
          <Tabla>
            <slot>
              <!--foreach cliente fill a column -->
                    <tr class="break-words hover:bg-gray-100 dark:hover:bg-gray-800">
                      </td>
                      <td class="px-2 py-2 max-w-full overflow-hidden text-ellipsis">
                        01
                      </td>
                      <td class="px-1 py-2 max-w-full overflow-hidden text-ellipsis">
                        4
                      </td>
                      <td class="px-1 py-2 max-w-full overflow-hidden text-ellipsis">
                        Ingreso
                      </td>
                      <td class="px-1 py-2 max-w-full overflow-hidden text-ellipsis">
                        07/11/2024
                      </td>
                      <td class="px-1 py-2 max-w-full overflow-hidden text-ellipsis">
                        3:47 PM
                      </td>
                      <td class="px-1 py-2 max-w-full overflow-hidden text-ellipsis items-center">
                        Ingreso de 5 paquetes de cerveza corona
                      </td>
                      <td class="px-1 py-2 max-w-full overflow-hidden text-ellipsis items-center">
                        12
                      </td>
                      <td class="px-1 py-2 max-w-full overflow-hidden text-ellipsis items-center">
                        90
                      </td>
                      <td class="px-1 py-2 max-w-full overflow-hidden text-ellipsis items-center">
                        no se que va aqui xdd
                      </td>
                    </tr>
            </slot>
          </Tabla>
        <div
        class="mt-6 bg-white p-6 rounded-lg shadow-md overflow-x-auto dark:bg-gray-700"
      >
        <h2 class="text-xl font-semibold">Movimientos Caja</h2>
        <Tabla2>
          <slot>
            <!--foreach cliente fill a column -->
                  <tr class="break-words hover:bg-gray-100 dark:hover:bg-gray-800">
                    </td>
                    <td class="px-2 py-2 max-w-full overflow-hidden text-ellipsis">
                      01
                    </td>
                    <td class="px-1 py-2 max-w-full overflow-hidden text-ellipsis">
                      4
                    </td>
                    <td class="px-1 py-2 max-w-full overflow-hidden text-ellipsis">
                      Ingreso
                    </td>
                    <td class="px-1 py-2 max-w-full overflow-hidden text-ellipsis">
                      07/11/2024
                    </td>
                    <td class="px-1 py-2 max-w-full overflow-hidden text-ellipsis">
                      3:47 PM
                    </td>
                    <td class="px-1 py-2 max-w-full overflow-hidden text-ellipsis items-center">
                      $12.00
                    </td>
                    <td class="px-1 py-2 max-w-full overflow-hidden text-ellipsis items-center">
                      Insertar plata en caja
                    </td>
                    <td class="px-1 py-2 max-w-full overflow-hidden text-ellipsis items-center">
                      $90.00
                    </td>
                    <td class="px-1 py-2 max-w-full overflow-hidden text-ellipsis items-center">
                      $102.00
                    </td>
                  </tr>
          </slot>
        </Tabla2>
      </div>
      <!--Detalles-->
      <Modal id="Detailmodal">
        <div
          class="bg-white dark:bg-gray-800 rounded-lg shadow-lg max-w-lg w-full p-6 animate-slideDown"
        >
          <h2 class="text-2xl font-bold mb-4 text-gray-900 dark:text-gray-100">
            Detalle Movimiento
          </h2>

          <!-- Formulario -->
          <form name="detalle" method="POST" class="space-b-4">
            <label for="Caja" class="text-sm text-gray-700 dark:text-gray-300 mt-2">Id Caja</label>
              <input
                type="text"
                id="Caja"
                name="Caja"
                placeholder="Numero de Caja"
                required
                disabled
                class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
              />
              
              <label for="Tipo" class="text-sm text-gray-700 dark:text-gray-300 mt-2">Tipo</label>
              <input
                id="Tipo"
                name="Tipo"
                type="text"
                required
                disabled
                placeholder="Tipo de ingreso"
                class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
              />
              
              <label for="Fecha" class="text-sm text-gray-700 dark:text-gray-300 mt-2">Fecha</label>
              <input
                type="date"
                id="Fecha"
                name="Fecha"
                required
                disabled
                class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
              ></input>
              
              <label for="Hora" class="text-sm text-gray-700 dark:text-gray-300 mt-2">Hora</label>
              <input
                id="Hora"
                name="Hora"
                type="time"
                required
                disabled
                class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
              />
              
              <label for="Detalles" class="text-sm text-gray-700 dark:text-gray-300 mt-2">Detalles</label>
              <textarea
                id="Detalles"
                name="Detalles"
                rows="2"
                required
                disabled
                class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
              />

              <label for="Cantidad" class="text-sm text-gray-700 dark:text-gray-300 mt-2">Cantidad</label>
              <input
                id="Cantidad"
                name="Cantidad"
                type="text"
                required
                disabled
                placeholder="Cantidad"
                class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
              />
              
              
              <label for="Anterior" class="text-sm text-gray-700 dark:text-gray-300 mt-2">Existencia Anterior</label>
              <input
                id="Anterior"
                name="Anterior"
                type="text"
                required
                disabled
                placeholder="Existencia Anterior"
                class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
              />
              
              <label for="Actual" class="text-sm text-gray-700 dark:text-gray-300 mt-2">Movimientos Productos</label>
              <input
                id="Actual"
                name="Actual"
                type="text"
                required
                disabled
                placeholder="Saldo Actual"
                class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
              />
            <!-- Botones -->
            <div class="flex justify-end space-x-4">
              <button
                type="button"
                class="btn btn-cancel bg-gray-500 text-white px-4 py-2 rounded-md"
                onclick="document.getElementById('Detailmodal').close()"
              >
                Cancelar
              </button>
            </div>
          </form>
        </div>
      </Modal>
    </Sidebar>
  </div>
</Layout>

