---
export const prerender = false;
const data = Astro.locals;
import { verify, userinfo } from "@Lib/auth";
import Layout from "@Layouts/layout.astro";
import Sidebar from "@components/Sidebar.astro";
import Card from "@components/menu/Card.astro";
//Aqui la lib empleados
import Tabla from "@components/proveedores/Tabla.astro";
import Modal from "@components/dialog.astro";
import Alertas from "@components/alertas.astro";

if ((await verify(data.token?.value)) == false) {
  return new Response(null, {
    status: 302,
    headers: {
      Location: "/",
    },
  });
}

const token = data.token?.value;

let res;
try {
  res = await userinfo(token);
} catch (error) {
  console.error("Error al obtener la información del usuario:", error);
  return new Response(null, {
    status: 500,
    statusText: "Internal Server Error",
  });
}

const user = res;

const tipoClienteMap = {
  1: "Natural",
  2: "Jurídico",
  // Agrega más tipos según sea necesario
};
---

<style>
  @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #6c757d;
    border-radius: 4px;
    border: 2px solid transparent;
    background-clip: padding-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #495057;
  }

  .scrollbar-custom {
    scrollbar-width: thin;
    scrollbar-color: #6c757d transparent;
  }
</style>
<Layout title="Panel de Control">
  <!-- height: max-content; -->
  <div
    class="flex flex-col md:flex-row bg-gray-100 dark:bg-gray-800 dark:text-white h-full"
  >
    <!-- Sidebar -->
    <br /><br />
    <Sidebar tipo={user.tipo_perfil}>
      <div class="flex-1 p-4 md:p-6 dark:bg-gray-800">
        <h1 class="text-3xl font-bold mb-6">
            <i class="fa-solid fa-truck-ramp-box"></i> Listado de Proveedores
        </h1>

        <div class="flex items-center justify-end mb-6">
          <div class="flex items-center space-x-2">
            <div
              class="w-12 h-12 rounded-full overflow-hidden border-2 border-gray-300 dark:border-gray-500"
            >
              <img
                src={user.imagen ||
                  "https://avatars.githubusercontent.com/u/178928214?v=4"}
                alt="Foto de perfil"
                class="w-full h-full object-cover"
              />
            </div>
            <div class="text-right">
              <h1 class="text-xl font-bold">Hola, {user.nombre}</h1>
              <p class="text-gray-600 dark:text-gray-400 text-sm">
                {
                  user.tipo_perfil == 1
                    ? "Administrador"
                    : user.tipo_perfil == 2
                      ? "Vendedor"
                      : "Usuario"
                }
              </p>
            </div>
          </div>
        </div>
        <!-- Contenido de tarjetas -->
        <div class="grid grid-cols-1 gap-4 md:grid-cols-3">
          <Alertas />
          <Card title="Herramientas" description="Manejo de datos de empleado">
            <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-2">
              <div class="flex justify-center">
                <a
                  id="add"
                  class="w-14 h-14 sm:w-16 sm:h-16 lg:w-20 lg:h-20 dark:bg-indigo-500 bg-sky-500 rounded-xl flex flex-col justify-center items-center text-gray-200 hover:scale-105 transition-transform duration-300 cursor-pointer"
                  onclick="document.getElementById('Addmodal').showModal()"
                >
                  <i class="fa-solid fa-plus text-xl md:text-3xl"></i>
                  <span class="text-xs md:text-sm font-bold">Agregar</span>
                </a>
              </div>
              <div class="flex justify-center">
                <div
                  id="editButton"
                  class="w-14 h-14 sm:w-16 sm:h-16 lg:w-20 lg:h-20 dark:bg-emerald-500 bg-lime-500 rounded-xl flex flex-col justify-center items-center text-gray-200 hover:scale-105 transition-transform duration-300 cursor-pointer"
                  onclick="document.getElementById('Editmodal').showModal()"
                >
                  <i class="fa-solid fa-pen text-xl md:text-3xl"></i>
                  <span class="text-xs md:text-sm font-bold">Editar</span>
                </div>
              </div>
              <div class="flex justify-center">
                <div
                  class="w-14 h-14 sm:w-16 sm:h-16 lg:w-20 lg:h-20 dark:bg-rose-500 bg-pink-600 rounded-xl flex flex-col justify-center items-center text-gray-200 hover:scale-105 transition-transform duration-300 cursor-pointer"
                  onclick="document.getElementById('Deletemodal').showModal()"
                >
                  <i class="fa-solid fa-trash text-xl md:text-3xl"></i>
                  <span class="text-xs md:text-sm font-bold">Eliminar</span>
                </div>
              </div>
              <div class="flex justify-center">
                <div
                  class="w-14 h-14 sm:w-16 sm:h-16 lg:w-20 lg:h-20 dark:bg-amber-500 bg-orange-500 rounded-xl flex flex-col justify-center items-center text-gray-200 hover:scale-105 transition-transform duration-300 cursor-pointer"
                  onclick="document.getElementById('Detailmodal').showModal()"
                >
                  <i class="fa-solid fa-chart-pie text-xl md:text-3xl"></i>
                  <span class="text-xs md:text-sm font-bold">Detalles</span>
                </div>
              </div>
            </div>
          </Card>

          <Card title="Total de Proveedores" description="Total"
            ><i class="fa-solid fa-truck-fast"></i> 1</Card
          >
          <Card title="Proveedor Reciente" description="Último Proveedor Añadido">
            <i class="fa-solid fa-warehouse"></i> La Constacia S.A. de C.V. <br>
            <i class="fa-solid fa-clipboard-list"></i> 5 servicios contratados
        </Card>
        
        </div>

        <!-- Tabla de órdenes recientes -->
        <div
          class="mt-6 bg-white p-6 rounded-lg shadow-md overflow-x-auto dark:bg-gray-700"
        >
          <h2 class="text-xl font-semibold">Proveedores</h2>
          <Tabla>
            <slot>
              <!--foreach cliente fill a column -->
                    <tr class="break-words hover:bg-gray-100 dark:hover:bg-gray-800">
                      <td class="px-2 py-2 max-w-full overflow-hidden text-ellipsis">
                        <input
                          type="checkbox"
                          name="cliente"
                        />
                      </td>
                      <td class="px-2 py-2 max-w-full overflow-hidden text-ellipsis">
                        01
                      </td>
                      <td class="px-1 py-2 max-w-full overflow-hidden text-ellipsis">
                        La Constacia S.A. de C.V.
                      </td>
                      <td class="px-1 py-2 max-w-full overflow-hidden text-ellipsis">
                        Proveedor de Consumibles
                      </td>
                      <td class="px-1 py-2 max-w-full overflow-hidden text-ellipsis">
                        La Union, El salvador
                      </td>
                      <td class="px-1 py-2 max-w-full overflow-hidden text-ellipsis">
                        9812-2812
                      </td>
                      <td class="px-1 py-2 max-w-full overflow-hidden text-ellipsis items-center">
                        null
                      </td>
                      <td class="px-1 py-2 max-w-full overflow-hidden text-ellipsis items-center">
                        null
                      </td>
                      <td class="px-1 py-2 max-w-full overflow-hidden text-ellipsis items-center">
                        1234-5678-9101
                      </td>
                      <td class="px-1 py-2 max-w-full overflow-hidden text-ellipsis items-center">
                        Alimentacion
                      </td>
                      <td class="px-1 py-2 max-w-full overflow-hidden text-ellipsis items-center  text-green-400 dark:text-green-200">
                        Si
                      </td>
                      <td class="px-1 py-2 max-w-full overflow-hidden text-ellipsis items-center">
                        04/11/2024
                      </td>
                    </tr>
            </slot>
          </Tabla>
        </div>

       <!-- Ranking de Proveedores Más Eficientes -->
<div class="mt-6 bg-white p-6 rounded-lg shadow-md dark:bg-gray-700 dark:text-white">
    <h2 class="text-xl font-semibold dark:text-white">
        Ranking de Proveedores Más Eficientes
    </h2>
    <ul class="mt-4 space-y-4">
        <!-- Proveedor 1 -->
        <li class="flex items-center justify-between p-4 bg-gray-100 rounded-lg dark:bg-gray-800">
            <div class="flex items-center space-x-4">
                <i class="fas fa-trophy text-yellow-500 text-2xl"></i>
                <div>
                    <p class="text-lg font-medium">La Constancia S.A. de C.V.</p>
                    <p class="text-sm text-gray-500 dark:text-gray-300">Calificación: 9.5</p>
                    <p class="text-sm text-gray-500 dark:text-gray-300">Numero de entregas: 5</p>
                </div>
            </div>
            <span class="text-green-600 font-semibold dark:text-green-400">1° Lugar</span>
        </li>
        
        <!-- Proveedor 2 -->
        <li class="flex items-center justify-between p-4 bg-gray-100 rounded-lg dark:bg-gray-800">
            <div class="flex items-center space-x-4">
                <i class="fas fa-medal text-gray-400 text-2xl"></i>
                <div>
                    <p class="text-lg font-medium">Proveedor B</p>
                    <p class="text-sm text-gray-500 dark:text-gray-300">Calificación: 8.7</p>
                    <p class="text-sm text-gray-500 dark:text-gray-300">Numero de entregas: 3</p>
                </div>
            </div>
            <span class="text-slate-500 font-semibold dark:text-indigo-200">2° Lugar</span>
        </li>

        <!-- Proveedor 3 -->
        <li class="flex items-center justify-between p-4 bg-gray-100 rounded-lg dark:bg-gray-800">
            <div class="flex items-center space-x-4">
                <i class="fas fa-award text-orange-400 text-2xl"></i>
                <div>
                    <p class="text-lg font-medium">Proveedor C</p>
                    <p class="text-sm text-gray-500 dark:text-gray-300">Calificación: 8.2</p>
                    <p class="text-sm text-gray-500 dark:text-gray-300">Numero de entregas: 2</p>
                </div>
            </div>
            <span class="text-amber-600 font-semibold dark:text-amber-400">3° Lugar</span>
        </li>
    </ul>
</div>

      <!-- Addmodal Content -->
      <!-- Modal hidden as defaul -->
      <!--AGREGAR -->
      <Modal id="Addmodal">
        <div
          class="bg-white dark:bg-gray-800 rounded-lg shadow-lg max-w-lg w-full p-6 animate-slideDown"
        >
          <h2 class="text-2xl font-bold mb-4 text-gray-900 dark:text-gray-100">
            Agregar Proveedor
          </h2>

          <!-- Formulario -->
          <form name="agregar" method="POST" class="space-b-4">
            <label for="nombre" class="text-x1 text-gray-700 dark:text-gray-300"
              >Nombre</label
            >
            <input
              type="text"
              id="nombre"
              name="Nombre"
              placeholder="Nombre"
              required
              class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
            />

            <label
              for="Tipo"
              class="text-sm text-gray-700 dark:text-gray-300 mt-2"
              >Tipo Proveedor</label
            >
            <input
              id="Tipo"
              name="Tipo"
              type="text"
              required
              placeholder="Tipo de Proveedor"
              class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
            />

            <label
              for="Direccion"
              class="text-sm text-gray-700 dark:text-gray-300 mt-2"
              >Direccion</label
            >
            <textarea
              id="Direccion"
              name="Direccion"
              required
              rows = 2
              class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
            >
          </textarea>

            <label
              for="Telefono"
              class="text-sm text-gray-700 dark:text-gray-300 mt-2"
              >Estado</label
            >
            <input
              id="Telefono"
              name="Telefono"
              type="text"
              required
              placeholder="Telefono"
              class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
            />
            <label
            for="Dui"
            class="text-sm text-gray-700 dark:text-gray-300 mt-2"
            >DUI</label
          >
            <input
              id="Dui"
              name="Dui"
              type="text"
              required
              placeholder="Dui"
              class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
            />
            
            <label
            for="Nit"
            class="text-sm text-gray-700 dark:text-gray-300 mt-2"
            >NIT</label
          >
            <input
              id="Nit"
              name="Nit"
              type="text"
              required
              placeholder="Nit"
              class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
            />
            
            <label
            for="Nrc"
            class="text-sm text-gray-700 dark:text-gray-300 mt-2"
            >NRC</label
          >
            <input
              id="Nrc"
              name="Nrc"
              type="text"
              required
              placeholder="Nrc"
              class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
            />
            
            <label
            for="Giro"
            class="text-sm text-gray-700 dark:text-gray-300 mt-2"
            >Giro</label
          >
            <input
              id="Giro"
              name="Giro"
              type="text"
              required
              placeholder="Giro"
              class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
            />
            
            <label
            for="Percepcion"
            class="text-sm text-gray-700 dark:text-gray-300 mt-2"
            >Percepcion</label
          >
            <input
              id="Percepcion"
              name="Percepcion"
              type="text"
              required
              placeholder="Percepcion"
              class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
            />
            
            <label
            for="Fecha"
            class="text-sm text-gray-700 dark:text-gray-300 mt-2"
            >DUI</label
          >
            <input
              id="Fecha"
              name="Fecha"
              type="date"
              required
              class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
            />
            <!-- Botones -->
            <div class="flex justify-end space-x-4">
              <button
                type="button"
                class="btn btn-cancel bg-gray-500 text-white px-4 py-2 rounded-md"
                onclick="document.getElementById('Addmodal').close()"
              >
                Cancelar
              </button>
              <button
                type="button"
                id="addcl"
                class="btn btn-submit bg-blue-500 text-white px-4 py-2 rounded-md"
              >
                Enviar
              </button>
            </div>
          </form>
        </div>
      </Modal>
      <!--EDITAR -->
      <Modal id="Editmodal">
        <div
          class="bg-white dark:bg-gray-800 rounded-lg shadow-lg max-w-lg w-full p-6 animate-slideDown"
        >
          <h2 class="text-2xl font-bold mb-4 text-gray-900 dark:text-gray-100">
            Editar Proveedor
          </h2>

          <!-- Formulario -->
          <form name="editar" method="POST" class="space-b-4">
            <label for="buscar" class="text-x1 text-gray-700 dark:text-gray-300">
              <i class="bi bi-search"></i> Buscar Proveedor
            </label>
            <input
              type="text"
              id="buscar"
              name="buscar"
              placeholder="Buscar Proveedor"
              required
              class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
            />
          
            <input
              type="text"
              id="nombre"
              name="Nombre"
              placeholder="Nombre"
              required
              class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
            />

            <label
              for="Tipo"
              class="text-sm text-gray-700 dark:text-gray-300 mt-2"
              >Tipo Proveedor</label
            >
            <input
              id="Tipo"
              name="Tipo"
              type="text"
              required
              placeholder="Tipo de Proveedor"
              class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
            />

            <label
              for="Direccion"
              class="text-sm text-gray-700 dark:text-gray-300 mt-2"
              >Direccion</label
            >
            <textarea
              id="Direccion"
              name="Direccion"
              required
              rows = 2
              class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
            >
          </textarea>

            <label
              for="Telefono"
              class="text-sm text-gray-700 dark:text-gray-300 mt-2"
              >Estado</label
            >
            <input
              id="Telefono"
              name="Telefono"
              type="text"
              required
              placeholder="Telefono"
              class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
            />
            <label
            for="Dui"
            class="text-sm text-gray-700 dark:text-gray-300 mt-2"
            >DUI</label
          >
            <input
              id="Dui"
              name="Dui"
              type="text"
              required
              placeholder="Dui"
              class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
            />
            
            <label
            for="Nit"
            class="text-sm text-gray-700 dark:text-gray-300 mt-2"
            >NIT</label
          >
            <input
              id="Nit"
              name="Nit"
              type="text"
              required
              placeholder="Nit"
              class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
            />
            
            <label
            for="Nrc"
            class="text-sm text-gray-700 dark:text-gray-300 mt-2"
            >NRC</label
          >
            <input
              id="Nrc"
              name="Nrc"
              type="text"
              required
              placeholder="Nrc"
              class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
            />
            
            <label
            for="Giro"
            class="text-sm text-gray-700 dark:text-gray-300 mt-2"
            >Giro</label
          >
            <input
              id="Giro"
              name="Giro"
              type="text"
              required
              placeholder="Giro"
              class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
            />
            
            <label
            for="Percepcion"
            class="text-sm text-gray-700 dark:text-gray-300 mt-2"
            >Percepcion</label
          >
            <input
              id="Percepcion"
              name="Percepcion"
              type="text"
              required
              placeholder="Percepcion"
              class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
            />
            
            <label
            for="Fecha"
            class="text-sm text-gray-700 dark:text-gray-300 mt-2"
            >DUI</label
          >
            <input
              id="Fecha"
              name="Fecha"
              type="date"
              required
              class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
            />
            <!-- Botones -->
            <div class="flex justify-end space-x-4">
              <button
                type="button"
                class="btn btn-cancel bg-gray-500 text-white px-4 py-2 rounded-md"
                onclick="document.getElementById('Editmodal').close()"
              >
                Cancelar
              </button>
              <button
                type="button"
                onclick="editempleado()"
                class="btn btn-submit bg-blue-500 text-white px-4 py-2 rounded-md"
              >
                Enviar
              </button>
            </div>
          </form>
        </div>
      </Modal>
      <!--Eliminar -->
      <Modal id="Deletemodal">
        <div
          class="bg-white dark:bg-gray-800 rounded-lg shadow-lg max-w-lg w-full p-6 animate-slideDown"
        >
          <h2 class="text-2xl font-bold mb-4 text-gray-900 dark:text-gray-100">
            Eliminar Proveedor
          </h2>

          <!-- Formulario -->
          <form name="editar" method="POST" class="space-b-4">
            <label for="buscar" class="text-x1 text-gray-700 dark:text-gray-300">
                <i class="bi bi-search"></i> Buscar Proveedor
              </label>
              <input
                type="text"
                id="buscar"
                name="buscar"
                placeholder="Buscar Proveedor"
                required
                class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
              />
              
              <input
                type="text"
                id="nombre"
                name="Nombre"
                placeholder="Nombre"
                required
                disabled
                class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
              />
              
              <label for="Tipo" class="text-sm text-gray-700 dark:text-gray-300 mt-2">Tipo Proveedor</label>
              <input
                id="Tipo"
                name="Tipo"
                type="text"
                required
                disabled
                placeholder="Tipo de Proveedor"
                class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
              />
              
              <label for="Direccion" class="text-sm text-gray-700 dark:text-gray-300 mt-2">Dirección</label>
              <textarea
                id="Direccion"
                name="Direccion"
                required
                disabled
                rows="2"
                class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
              ></textarea>
              
              <label for="Telefono" class="text-sm text-gray-700 dark:text-gray-300 mt-2">Teléfono</label>
              <input
                id="Telefono"
                name="Telefono"
                type="text"
                required
                disabled
                placeholder="Teléfono"
                class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
              />
              
              <label for="Dui" class="text-sm text-gray-700 dark:text-gray-300 mt-2">DUI</label>
              <input
                id="Dui"
                name="Dui"
                type="text"
                required
                disabled
                placeholder="DUI"
                class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
              />
              
              <label for="Nit" class="text-sm text-gray-700 dark:text-gray-300 mt-2">NIT</label>
              <input
                id="Nit"
                name="Nit"
                type="text"
                required
                disabled
                placeholder="NIT"
                class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
              />
              
              <label for="Nrc" class="text-sm text-gray-700 dark:text-gray-300 mt-2">NRC</label>
              <input
                id="Nrc"
                name="Nrc"
                type="text"
                required
                disabled
                placeholder="NRC"
                class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
              />
              
              <label for="Giro" class="text-sm text-gray-700 dark:text-gray-300 mt-2">Giro</label>
              <input
                id="Giro"
                name="Giro"
                type="text"
                required
                disabled
                placeholder="Giro"
                class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
              />
              
              <label for="Percepcion" class="text-sm text-gray-700 dark:text-gray-300 mt-2">Percepción</label>
              <input
                id="Percepcion"
                name="Percepcion"
                type="text"
                required
                disabled
                placeholder="Percepción"
                class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
              />
              
              <label for="Fecha" class="text-sm text-gray-700 dark:text-gray-300 mt-2">Fecha</label>
              <input
                id="Fecha"
                name="Fecha"
                type="date"
                required
                disabled
                class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
              />
              
            <!-- Botones -->
            <div class="flex justify-end space-x-4">
              <button
                type="button"
                class="btn btn-cancel bg-gray-500 text-white px-4 py-2 rounded-md"
                onclick="document.getElementById('Deletemodal').close()"
              >
                Cancelar
              </button>
              <button
                type="button"
                onclick="deleteproveedor()"
                class="btn btn-submit bg-red-500 text-white px-4 py-2 rounded-md"
              >
                Eliminar
              </button>
            </div>
          </form>
        </div>
      </Modal>
      <!--Detalles-->
      <Modal id="Detailmodal">
        <div
          class="bg-white dark:bg-gray-800 rounded-lg shadow-lg max-w-lg w-full p-6 animate-slideDown"
        >
          <h2 class="text-2xl font-bold mb-4 text-gray-900 dark:text-gray-100">
            Detalle Empleado
          </h2>

          <!-- Formulario -->
          <form name="detalle" method="POST" class="space-b-4">
            <label for="buscar" class="text-x1 text-gray-700 dark:text-gray-300">
                <i class="bi bi-search"></i> Buscar Proveedor
              </label>
              <input
                type="text"
                id="buscar"
                name="buscar"
                placeholder="Buscar Proveedor"
                required
                class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
              />
              
              <input
                type="text"
                id="nombre"
                name="Nombre"
                placeholder="Nombre"
                required
                disabled
                class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
              />
              
              <label for="Tipo" class="text-sm text-gray-700 dark:text-gray-300 mt-2">Tipo Proveedor</label>
              <input
                id="Tipo"
                name="Tipo"
                type="text"
                required
                disabled
                placeholder="Tipo de Proveedor"
                class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
              />
              
              <label for="Direccion" class="text-sm text-gray-700 dark:text-gray-300 mt-2">Dirección</label>
              <textarea
                id="Direccion"
                name="Direccion"
                required
                disabled
                rows="2"
                class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
              ></textarea>
              
              <label for="Telefono" class="text-sm text-gray-700 dark:text-gray-300 mt-2">Teléfono</label>
              <input
                id="Telefono"
                name="Telefono"
                type="text"
                required
                disabled
                placeholder="Teléfono"
                class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
              />
              
              <label for="Dui" class="text-sm text-gray-700 dark:text-gray-300 mt-2">DUI</label>
              <input
                id="Dui"
                name="Dui"
                type="text"
                required
                disabled
                placeholder="DUI"
                class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
              />
              
              <label for="Nit" class="text-sm text-gray-700 dark:text-gray-300 mt-2">NIT</label>
              <input
                id="Nit"
                name="Nit"
                type="text"
                required
                disabled
                placeholder="NIT"
                class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
              />
              
              <label for="Nrc" class="text-sm text-gray-700 dark:text-gray-300 mt-2">NRC</label>
              <input
                id="Nrc"
                name="Nrc"
                type="text"
                required
                disabled
                placeholder="NRC"
                class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
              />
              
              <label for="Giro" class="text-sm text-gray-700 dark:text-gray-300 mt-2">Giro</label>
              <input
                id="Giro"
                name="Giro"
                type="text"
                required
                disabled
                placeholder="Giro"
                class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
              />
              
              <label for="Percepcion" class="text-sm text-gray-700 dark:text-gray-300 mt-2">Percepción</label>
              <input
                id="Percepcion"
                name="Percepcion"
                type="text"
                required
                disabled
                placeholder="Percepción"
                class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
              />
              
              <label for="Fecha" class="text-sm text-gray-700 dark:text-gray-300 mt-2">Fecha</label>
              <input
                id="Fecha"
                name="Fecha"
                type="date"
                required
                disabled
                class="mb-5 form-field w-full p-2 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100"
              />
              
            <!-- Botones -->
            <div class="flex justify-end space-x-4">
              <button
                type="button"
                class="btn btn-cancel bg-gray-500 text-white px-4 py-2 rounded-md"
                onclick="document.getElementById('Detailmodal').close()"
              >
                Cancelar
              </button>
            </div>
          </form>
        </div>
      </Modal>
    </Sidebar>
  </div>
</Layout>
