---
interface ModalProps {
  id: string;
  title: string;
}

const { id, title } = Astro.props as ModalProps;
---

<style>
  dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro semi-transparente */
    transition: opacity 0.3s ease-in-out; /* Transición suave */
  }
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #6c757d;
    border-radius: 4px;
    border: 2px solid transparent;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #495057;
}

.scrollbar-custom {
    scrollbar-width: thin;
    scrollbar-color: #6c757d transparent;
}

</style>

<dialog id={id} class="bg-white dark:bg-gray-800 rounded-lg shadow-lg max-w-lg w-full p-6 animate-slideDown">
  <h2 class="text-2xl font-bold mb-4 text-gray-900 dark:text-gray-100">{title}</h2>
  <slot />
</dialog>
