---
export interface Props {
  headers: string[];
}

const { headers } = Astro.props;
---
<table
  class="min-w-full mt-4 table-auto border-collapse border border-gray-300 dark:border-gray-700 w-full rounded-lg"
>
  <thead class="bg-gray-200 dark:bg-gray-800">
    <tr>
      <th
        class="px-4 border border-gray-300 dark:border-gray-700 hidden acciones"
        > </th
      >
      {headers.map(header => (
        <th class="px-4 border border-gray-300 dark:border-gray-700">{header}</th>
      ))}
    </tr>
  </thead>
  <tbody class="bg-white dark:bg-gray-900">
    <slot />
  </tbody>
</table>
