
<table class="min-w-full mt-4 table-auto border-collapse border border-gray-300  dark:border-gray-700 w-full rounded-lg">
    <thead class="bg-gray-200 dark:bg-gray-800">
        <tr>
            <th class="px-4 border border-gray-300 dark:border-gray-700">N°</th>
            <th class="px-4 border border-gray-300 dark:border-gray-700">Id venta</th>
            <th class="px-4 border border-gray-300 dark:border-gray-700">Producto</th>
            <th class="px-4 border border-gray-300 dark:border-gray-700">Servicio</th>
            <th class="px-4 border border-gray-300 dark:border-gray-700">Cantidad</th>
            <th class="px-4 border border-gray-300 dark:border-gray-700">Precio unitario</th>
        </tr>
    </thead>
    <tbody class="bg-white dark:bg-gray-900">
        <slot>
    </tbody>
</table>